version: '2'

services:
  exo:
    restart: always
    image: exoplatform/exo:6.2_latest
    container_name: exo_exo
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - mysql
    volumes:
      - ./exo_data:/srv/exo:rw
      - ./exo_logs:/var/log/exo:rw
#      - ./exo_conf/docker.properties:/etc/exo/docker.properties:ro
#      - ./exo_conf/server.xml:/opt/exo/conf/server.xml:ro
     
    environment:
      - EXO_PROXY_VHOST=colabora.proepi.org.br
      - EXO_PROXY_PORT=80
      - EXO_PROXY_SSL="true"
      - EXO_DB_HOST=mysql
      - EXO_DB_TYPE=mysql
      - EXO_DB_NAME=exo
      - EXO_DB_USER=exo
      - EXO_DB_PASSWORD=exo
      - EXO_MONGO_HOST=mongo
      - EXO_MAIL_FROM=comunidade.sds@proepi.org.br
      - EXO_MAIL_SMTP_HOST=email-ssl.com.br
      - EXO_MAIL_SMTP_PORT=465
      - EXO_MAIL_SMTP_STARTTLS=true
      - EXO_MAIL_SMTP_USERNAME=comunidade.sds@proepi.org.br
      - EXO_MAIL_SMTP_PASSWORD=bMY$R9rLEHpm2Q#
      - EXO_JVM_LOG_GC_ENABLED="true"
#      - EXO_ADDONS_LIST=

  mongo:
    restart: always
    image: mongo:4.4
    container_name: exo_mongo
    volumes:
      - mongo_conf:/data/configdb
      - ./mongo_data:/data/db:rw

  mysql:
    restart: always
    image: mysql:8.0
    container_name: exo_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=exo
      - MYSQL_DATABASE=exo
      - MYSQL_USER=exo
      - MYSQL_PASSWORD=exo
    volumes:
      - ./mysql_data:/var/lib/mysql:rw

volumes:
  mongo_conf:
